# Ignore node_modules directory
app/node_modules/

# Ignore logs
app/logs/

# Ignore built files
app/dist/
app/build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore npm debug log
app/npm-debug.log*

# Ignore yarn debug log
app/yarn-debug.log*
app/yarn-error.log*

# Ignore VS Code settings
app/.vscode/

# Ignore editor-specific files
*.swp
*.swo
*.bak
*~

# Ignore OS-specific files
.DS_Store
Thumbs.db
